.home {
    text-align: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black; /* Change this if you want a different text color */
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: row; /* Position items in a row */
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    gap: 50px;
}

.profileimg {
    border-radius: 50%;
    width: 350px; /* Adjust size as needed */
    height: 350px; /* Adjust size as needed */
    object-fit: cover;
    margin-right: 20px; /* Space between image and text */
}

.text-container {
    display: flex;
    flex-direction: column; 
    gap: 5px;
}
.buttons-box{
    display: flex;
    flex-direction: row;
}
.socialbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 20px; 
}



.titlesmall {
    font-size: 24px;
    color: rgb(85, 85, 85);
}

.name {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.changing-text {
    font-size: 28px;
    font-weight: bold;
    color: rgb(85, 85, 85);
}
